@{
    ViewData["Title"] = "Телефонный справочник";
}
@using PhoneBook.ViewModels;
@model PhoneListViewModel

<div class="phone-list row justify-content-center">

    <div class="col-12 text-center border-bottom border-dark">

        @for (var i = Model.MinPage; i <= Model.MaxPage; i++)
        {
            @if (i == Model.Page)
            {
                <span>@i</span>
            }
            else
            {
                <a asp-action="Index" asp-controller="Home" asp-route-page="@i">@i</a>
            }
        }

    </div>

    <div class="col-5 my-4">

        @for (var i = 0; i < Model.Phones.Count; i++)
        {
            <div class="row justify-content-between border-bottom border-primary py-2">
                <p class="">@(i+1))</p>
                <a asp-action="Phone" asp-controller="Home" asp-route-id="@Model.Phones[i].Id">@Model.Phones[i].PhoneNumber</a>
            </div>
        }
    </div>

    <div class="col-12 text-center border-top border-dark">

        @for (var i = Model.MinPage; i <= Model.MaxPage; i++)
        {
            @if (i == Model.Page)
            {
                <span>@i</span>
            }
            else
            {
                <a asp-action="Index" asp-controller="Home" asp-route-page="@i">@i</a>
            }
        }

    </div>

</div>
